# AWS Configuration
AWS_REGION=your-region-aws
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
AWS_S3_BUCKET_NAME=your-s3-bucket-name
AWS_SESSION_TOKEN=session-token

# JWT Configuration
JWT_SECRET=your-jwt-secret

# Seed Default User
DEFAULT_USER_NAME=Organizador Seed
DEFAULT_USER_EMAIL=organizador@seed.com
DEFAULT_USER_PASSWORD=your-secure-password
DEFAULT_USER_PHONE=+5511999999999
DEFAULT_USER_IMAGE=https://yourdomain.com/image.png

# Mail Configuration
MAIL_FROM=your-email@example.com
